$primary-color: #444;
$secondary-color: #d80d0d;
$primary-text-color: #ece6da;
$fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.about {
    min-height: calc(100vh - 60px);
}

.main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}