$primary-color: #444;
$secondary-color: #d80d0d;
$primary-text-color: #ece6da;
$fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
    background: $primary-color;
}

.main {
    min-height: calc(100vh - 60px);
    width: 100%;
    overflow: hidden;
}

.portrait {
    width: 250px;
    height: 250px;
    background: url(../img/portrait.jpg);
    border-radius: 50%;
    opacity: 0.9;
    border: solid 3px $secondary-color;
}

.work-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    '1 2'
    '3 4';
    grid-template-columns: repeat(2, 1fr);
}

.bio-image {
    grid-area: bioimage;
    margin: auto;
}

.bio {
    grid-area: bio;
    font-size: 1.5rem;
}

.proj {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
}

.proj1 {
    grid-area: proj1;
}

.proj2 {
    grid-area: proj2;
}